/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import "tailwindcss";



/* Poppins Font Faces */

@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins-Bold.ttf');
}

/* Font Family */
body {
  font-family: "Poppins-Regular", sans-serif;
}

/* Typography */
.poppins-regular {
  font-family: 'Poppins-Regular', sans-serif;
}

.poppins-medium {
  font-family: 'Poppins-Medium', sans-serif;
}

.poppins-semibold {
  font-family: 'Poppins-SemiBold', sans-serif;
}

.poppins-bold {
  font-family: 'Poppins-Bold', sans-serif;
}



ion-content {
  font-family: 'Poppins-Regular', sans-serif;
  --background: #e5edfa;
}
